@model Common.Models.Corresponsal

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>

<h4>Corresponsal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*<label asp-for="CorNombre" class="control-label"></label>*@
                <input placeholder="Escriba el nombre..." asp-for="CorNombre" class="form-control" />
                <span asp-validation-for="CorNombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"><i class="fa-solid fa-arrow-left"></i> Regresar a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
